<div class="content">
  <h1>Shopping Cart App</h1>

  <div class="add-items">
    <mat-card>
      <h2>Add new car into shopping list:</h2>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Car Name</mat-label>
          <input matInput placeholder="Name..." formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Car price</mat-label>
          <input matInput type="number" placeholder="Price..." formControlName="price">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="add()">
        Add item
      </button>
      <button mat-raised-button color="accent" (click)="fetch()">
        Show items
      </button>
    </mat-card>
  </div>

  <div class="items">
    <mat-card *ngFor="let item of items">
      <h3>{{item.name}}</h3>
      <small>{{ item.price }}</small>
    </mat-card>
  </div>
</div>
